openapi: "3.0.1"
info:
  title: "News headlines API"
  description: "News headlines from various providers for selected categories, countries and languages."
  version: "1.1.0"
servers:
  - url: "https://felidae.spookydoodle.com/news"
    description: News headlines server
paths: 
  /{category}/{format}:
    description: Finds news headlines scraped in a given category
    parameters:
      - name: category
        in: path
        description: Category in which news was scraped
        required: true
        schema:
          $ref: '#/components/schemas/Category'
      - name: format
        in: path
        description: Format in which to return the data. Either JSON or protobuf.
        required: false
        schema:
          $ref: '#/components/schemas/Format'
      - name: locale
        in: query
        description: Combination of the country (code) of the news and the language in which it's written
        schema: 
          $ref: '#/components/schemas/Locale'
        example: gb_en
      - name: language
        in: query
        description: Language in which the news piece is written
        schema: 
          $ref: '#/components/schemas/Language'
      - name: lang
        in: query
        description: Alias for language param
        schema: 
          $ref: '#/components/schemas/Language'
      - name: cc
        in: query
        description: Country (code) of the news
        schema: 
          $ref: '#/components/schemas/CountryCode'
      - name: country
        in: query
        description: Alias for cc param
        schema: 
          $ref: '#/components/schemas/CountryCode'
      - name: countrycode
        in: query
        description: Alias for cc param
        schema: 
          $ref: '#/components/schemas/CountryCode'
      - name: country_code
        in: query
        description: Alias for cc param
        schema: 
          $ref: '#/components/schemas/CountryCode'
      - name: date
        in: query
        description: Selects headlines scraped on the given date in format YYYY-MM-DD
        schema: 
          type: string
          format: date
      - name: dategt
        in: query
        description: Selects headlines scraped after the given date
        schema: 
          type: string
          format: date
      - name: date_gt
        in: query
        description: Alias for dategt param
        schema: 
          type: string
          format: date
      - name: dategte
        in: query
        description: Selects headlines scraped on or after the given date
        schema: 
          type: string
          format: date
        example: "2025-03-01"
      - name: date_gte
        in: query
        description: Alias for dategte param
        schema: 
          type: string
          format: date
      - name: datelt
        in: query
        description: Selects headlines scraped before the given date
        schema: 
          type: string
          format: date
      - name: date_lt
        in: query
        description: Alias for datelt param
        schema: 
          type: string
          format: date
      - name: datelte
        in: query
        description: Selects headlines scraped on or before the given date
        schema: 
          type: string
          format: date
        example: "2025-03-31"
      - name: date_lte
        in: query
        description: Alias for datelte param
        schema: 
          type: string
          format: date
      - name: page
        in: query
        description: Results page
        schema: 
          type: integer
          minimum: 1
        example: 1
      - name: items
        in: query
        description: Number of results per page
        schema: 
          type: integer
          minimum: 1
          maximum: 500
        example: 50
      - name: sortby
        in: query
        description: By which field to sort the results and in which direction
        schema: 
          $ref: '#/components/schemas/SortBy'
        example: timestamp_desc
      - name: sort_by
        in: query
        description: Alias for sortby param
        schema: 
          $ref: '#/components/schemas/SortBy'
    get: 
      summary: Returns news headlines for a given query.
      description: Returns news headlines in a given category
      operationId: getNewsHeadlines
      responses:
        '200':
          description: list of new headlines response
          content:
            'application/json':
              schema: 
                type: array
                items: 
                  $ref: '#/components/schemas/NewsHeadline'
        default:
          description: error payload
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorModel'
  /{category}/graphql:
    description: Same as /{category} just using graphql queries.
    parameters:
      - name: category
        in: path
        description: Category in which news was scraped
        required: true
        schema:
          $ref: '#/components/schemas/Category'
      - name: query
        in: query
        description: GrapQL query for getting news headlines. Filter options and queried fields are the same as in /:category API.
        schema: 
          type: string
        example: '{headlines(sortby:id_desc){id,headline,timestamp}}'
    get: 
      summary: Returns news headlines for a given graphQL query.
      description: Returns news headlines in a given category
      operationId: getNewsHeadlinesGraphQL
      responses:
        '200':
          description: list of new headlines response
          content:
            'application/json':
              schema: 
                type: object
                properties:
                  headlines: 
                    type: array
                    items: 
                      $ref: '#/components/schemas/NewsHeadlineGraphQL'
        default:
          description: error payload
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorModel'
components:
  schemas:
    Format:
      type: string
      enum: [json, pbf]
    Category:
      type: string
      enum: [general, business, entertainment, sport, health, science, mercury, venus, earth, mars, jupiter, saturn, uranus, neptun, pluto]
    Locale:
      type: string
      enum: [de_de, gb_en, nl_nl, pl_pl, us_en]
    Language:
      type: string
      enum: [de, en, nl, pl]
    CountryCode:
      type: string
      enum: [de, nl, pl, gb, us]
    SortBy:
      type: string
      enum: [id_asc, id_desc, timestamp_asc, timestamp_desc]
    NewsHeadline:
      required: ["id", "category", "country", "lang", "headline", "provider", "url", "img", "age", "timestamp"]
      type: "object"
      properties:
        id:
          type: "number"
          description: "Headline's unique identifier"
        category:
          type: "string"
          description: "Category of the news (matches the path)"
        country:
          type: "string"
          description: "Country of the news"
        lang:
          type: "string"
          description: "Language in which the news piece is written"
        headline:
          type: "string"
          description: "Headline of the news piece"
        provider:
          type: "string"
          description: "News provider"
        url:
          type: "string"
          description: "URL where the news piece is published"
        img:
          type: "string"
          description: "URL to the image linked to the news headline (empty string if not available)"
          nullable: true
        age:
          type: "string"
          description: "Age of the news relative to the timestamp of scraping (empty string if not available)"
        timestamp:
          type: "string"
          description: "Timestamp of scraping in UTC ISO format"
      example:
        id: 1
        category: business
        country: gb
        lang: en
        headline: Rocket launches to space
        provider: Space News Today
        url: https://example-space-news-today.com/rocket-launches-to-space
        img: data:image/gif;base64,abcde//fghi
        age: 2 min ago
        timestamp: 2025-05-21T04:09:49.658Z
    NewsHeadlineGraphQL:
      type: "object"
      properties:
        id:
          type: "number"
          description: "Headline's unique identifier"
        category:
          type: "string"
          description: "Category of the news (matches the path)"
        country:
          type: "string"
          description: "Country of the news"
        lang:
          type: "string"
          description: "Language in which the news piece is written"
        headline:
          type: "string"
          description: "Headline of the news piece"
        provider:
          type: "string"
          description: "News provider"
        url:
          type: "string"
          description: "URL where the news piece is published"
        img:
          type: "string"
          description: "URL to the image linked to the news headline (empty string if not available)"
          nullable: true
        age:
          type: "string"
          description: "Age of the news relative to the timestamp of scraping (empty string if not available)"
        timestamp:
          type: "string"
          description: "Timestamp of scraping in UTC ISO format"
      example:
        headline: Rocket launches to space
        provider: Space News Today
        timestamp: 2025-05-21T04:09:49.658Z
    ErrorModel:
      required: ["reason"]
      type: "object"
      properties:
        reason:
          type: "string"
          description: "The reason of the error"
      example:
        reason: Incorrect value 'foo' of parameter lang.